*/*.nfs*
raw
raw*
DBASE
analysis
ROOTfiles
REPORT_OUTPUT
UTIL_SIDIS
UTIL
results
CALIBRATION
DATFILES
MAPS
onlineGUI
SCRIPTS
TEMPLATES
PARAM
ROOTfiles*
DEF-files
*.cast

cache*
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# build trees
DEBUG*/*
BUILD*/*
RELEASE*/*
TEST*/*

# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# vim 
~*
*.swp
*.swo
